trigger:
- main

stages:
  - stage: BuildArtifact
    displayName: Build Artifact
    jobs:
      - job: Job_1
        displayName: Agent job 1
        pool: 
          name: default
          demands: 
          - agent.name -equals JuanMachine
        steps:
        - checkout: self
        - task: UiPathPack@2
          displayName: UiPath Pack
          inputs:
            versionType: 'AutoVersion'
            projectJsonPath: 'project.json'
            outputType: 'Process'
            orchestratorConnection: 'CICDOrchConnectionTest'
            outputPath: '$(Build.ArtifactStagingDirectory)'
            traceLevel: Information
       # - publish: $(Build.ArtifactStagingDirectory)
         # artifact: drop


